<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">

  <title>PayPal Node App</title>
</head>

<body>

  <div class="main">
    <h1>Corinthians</h1>
    <h2>Buy For &rightarrow; <span id="dolar">$ 25.00</span></h2>
    <form action="/pay" method="post">
      <button class='btn btn-primary' type="submit">Buy</button>
    </form>
  </div>
</body>

</html>